<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册</title>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../css/register.css">
</head>
<body>
<div class="regist_form container">
    <form method="post" th:action="@{~/register}">
        <h2 class="form-sigin-heading">注册</h2>
        <div class="form-group">
            <label for="NameInput">账号</label>
            <input maxlength="50" type="text" class="form-control" name="username" id="NameInput"
                   placeholder="请输入账号,至少3个字符，至多20个" required="required">
        </div>
        <div class="form-group">
            <label for="Telephone">手机号</label>
            <input type="text" class="form-control" id="Telephone" name="phonenum" maxlength="50" placeholder="请输入手机号">
        </div>
        <div class="form-group">
            <label for="PasswordInput">密码</label>
            <input type="password" name="password" maxlength="30" class="form-control" id="PasswordInput"
                   placeholder="请输入密码,字母或特殊符号和数字结合" required="required">
        </div>
        <div class="form-group">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="customer" value="3" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">我是顾客</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customer" value="2" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">我是销售</label>
            </div>
        </div>
        <div class="form-group select-section">
            <button type="submit" id="submit" class="btn btn-primary">注册</button>
        </div>
    </form>
</div>
</body>
<script src="../../js/jquery-3.1.1.min.js"></script>
<script src="../../lib/bootstrap/js/bootstrap.js"></script>
</html>